@font-face {
  font-family: 'Londrina Solid';
  src: url("../fonts/LondrinaSolid-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Londrina Solid';
  src: url("../fonts/LondrinaSolid-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Londrina Solid';
  src: url("../fonts/LondrinaSolid-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Londrina Solid';
  src: url("../fonts/LondrinaSolid-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

.gqq-sheet .attributes,
.gqq-dialog .attributes {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-shrink: 0; }
  .gqq-sheet .attributes .attributes__header,
  .gqq-dialog .attributes .attributes__header {
    font-family: "Londrina Solid";
    text-transform: uppercase;
    font-size: 1.25em;
    display: block;
    background: black;
    color: white;
    width: 100%;
    text-align: center;
    border-radius: 1rem; }
  .gqq-sheet .attributes .attributes__body,
  .gqq-dialog .attributes .attributes__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-top: 0.25rem;
    width: 100%; }
  .gqq-sheet .attributes .attribute,
  .gqq-dialog .attributes .attribute {
    border-radius: 0 1cm 1cm 0;
    display: flex;
    overflow: hidden;
    background: #cacbd1;
    width: 100%;
    position: relative;
    height: 59px;
    flex-shrink: 0; }
    .gqq-sheet .attributes .attribute + *,
    .gqq-dialog .attributes .attribute + * {
      margin-top: 1px; }
    .gqq-sheet .attributes .attribute::before,
    .gqq-dialog .attributes .attribute::before {
      content: '';
      display: block;
      height: 200px;
      width: 200px;
      background: linear-gradient(90deg, #a1a3ad 0%, rgba(202, 203, 209, 0) 100%);
      position: absolute;
      left: -100px;
      top: -15px;
      transform: rotate(45deg); }
    .gqq-sheet .attributes .attribute:first-child,
    .gqq-dialog .attributes .attribute:first-child {
      border-top-left-radius: 1rem; }
    .gqq-sheet .attributes .attribute:last-child,
    .gqq-dialog .attributes .attribute:last-child {
      border-bottom-left-radius: 1rem; }
  .gqq-sheet .attributes .attribute__icon,
  .gqq-dialog .attributes .attribute__icon {
    padding: 5px;
    margin-right: 10px;
    border-right: 1px dotted #e5e6e9;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    flex-shrink: 0; }
    .gqq-sheet .attributes .attribute__icon img,
    .gqq-dialog .attributes .attribute__icon img {
      filter: drop-shadow(0px 2px 2px rgba(52, 61, 70, 0.5));
      border: none;
      border-radius: 0;
      max-width: 49px;
      width: 100%; }
  .gqq-sheet .attributes .attribute__description,
  .gqq-dialog .attributes .attribute__description {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .gqq-sheet .attributes .attribute__tag,
  .gqq-dialog .attributes .attribute__tag {
    background: none;
    font-family: inherit;
    text-align: left;
    border: none;
    padding: 0;
    font-size: 2rem;
    line-height: 1;
    position: relative;
    margin: 0;
    width: auto;
    font-family: 'Londrina Solid'; }
    .gqq-sheet .attributes .attribute__tag:focus, .gqq-sheet .attributes .attribute__tag:hover,
    .gqq-dialog .attributes .attribute__tag:focus,
    .gqq-dialog .attributes .attribute__tag:hover {
      color: #6c20a9;
      outline: none;
      box-shadow: none; }
    .gqq-sheet .attributes .attribute__tag:hover,
    .gqq-dialog .attributes .attribute__tag:hover {
      cursor: pointer; }
  .gqq-sheet .attributes .attribute__title,
  .gqq-dialog .attributes .attribute__title {
    font-size: 0.75em;
    font-family: "Open Sans";
    font-weight: bold;
    text-transform: uppercase;
    position: relative; }
  .gqq-sheet .attributes .attribute__value,
  .gqq-dialog .attributes .attribute__value {
    width: 100%;
    border: none;
    height: 59px;
    width: 59px;
    border-radius: 100%;
    border: 3px solid #b8bbc3;
    text-align: center;
    font-size: 2em;
    background: white;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0; }
    .gqq-sheet .attributes .attribute__value:focus,
    .gqq-dialog .attributes .attribute__value:focus {
      box-shadow: none;
      border-color: #6c20a9;
      opacity: 1; }
  .gqq-sheet .attributes .attribute__total,
  .gqq-dialog .attributes .attribute__total {
    width: 100%;
    border: none;
    height: 59px;
    width: 59px;
    border-radius: 100%;
    border: 3px solid #b8bbc3;
    text-align: center;
    font-size: 2em;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .gqq-sheet .attributes .attribute__total.attribute__total--higher,
    .gqq-dialog .attributes .attribute__total.attribute__total--higher {
      color: green; }
    .gqq-sheet .attributes .attribute__total.attribute__total--lower,
    .gqq-dialog .attributes .attribute__total.attribute__total--lower {
      color: red; }

.gqq-card {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #131313;
  position: relative; }
  .gqq-card .card__body {
    flex-grow: 1;
    padding: 0.25rem;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative; }
    .gqq-card .card__body::before {
      content: '';
      display: block;
      position: absolute;
      height: calc(100% - 0.5rem);
      width: calc(100% - 0.5rem);
      background: #d2d8e4;
      border-radius: 2rem; }
  .gqq-card .card__title {
    background: #97a1b7;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    font-family: 'Londrina Solid';
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    position: relative; }
    .gqq-card .card__title::before, .gqq-card .card__title::after {
      content: '';
      background: #7986a2;
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 1rem;
      display: block;
      top: calc(50% - 5px); }
    .gqq-card .card__title::before {
      left: 0.5rem; }
    .gqq-card .card__title::after {
      right: 0.5rem; }
  .gqq-card .card__rarity {
    color: black;
    background: #b5bbcb;
    color: #5f6c89;
    text-align: center;
    width: 210px;
    margin: 0 auto;
    font-size: 20px;
    position: relative;
    padding: 0.125rem 0;
    border-radius: 0 0 2rem 2rem;
    min-height: 1.8rem; }
    .gqq-card .card__rarity i {
      display: none; }
  .gqq-card .card__image {
    width: 150px;
    margin: 0 auto;
    display: flex;
    position: relative;
    z-index: 2;
    background: linear-gradient(to bottom, #b5bbcb, #d2d8e4);
    padding: 0.5rem;
    border-radius: 1rem; }
    .gqq-card .card__image img {
      border: none;
      border-radius: 1rem;
      margin: 0;
      width: 100%;
      background: black; }
  .gqq-card .card__tags {
    background: #d2d8e4;
    border-radius: 1rem;
    padding: 0.35rem 1.75rem;
    width: 17rem;
    margin: 0.5rem auto -1.5rem;
    text-align: center;
    position: relative;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    z-index: 2;
    letter-spacing: -0.25px;
    height: 2rem; }
    .gqq-card .card__tags::before, .gqq-card .card__tags::after {
      content: '';
      background: #b2bcd1;
      height: 10px;
      width: 10px;
      position: absolute;
      border-radius: 1rem;
      display: block;
      top: calc(50% - 5px); }
    .gqq-card .card__tags::before {
      left: 0.5rem; }
    .gqq-card .card__tags::after {
      right: 0.5rem; }
    .gqq-card .card__tags + .card__details {
      padding-top: 1.75rem; }
  .gqq-card .card__tag:not(:last-child)::after {
    content: ","; }
  .gqq-card .card__details {
    background: white;
    border-radius: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin-top: 0.5rem;
    padding: 1rem 0 1.75rem; }
  .gqq-card .card__tab {
    padding: 0.5rem; }
    .gqq-card .card__tab::before {
      content: '';
      height: 22rem;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      background: linear-gradient(to bottom, #b5bbcb, #979fb6);
      border-radius: 3rem 3rem 0 0; }
  .gqq-card .card__tabs__nav {
    text-align: center; }
    .gqq-card .card__tabs__nav button {
      color: white;
      background: #515358;
      border: none;
      margin: 0;
      border-radius: 1rem;
      padding: 0 0.5rem;
      font-size: smaller;
      display: inline-block;
      height: 1.2rem;
      width: 1.2rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-weight: bolder; }
      .gqq-card .card__tabs__nav button > :last-child {
        margin-right: 0; }
      .gqq-card .card__tabs__nav button:hover {
        text-shadow: none;
        cursor: pointer; }
      .gqq-card .card__tabs__nav button:focus, .gqq-card .card__tabs__nav button:hover, .gqq-card .card__tabs__nav button.active {
        background: white;
        color: #515358;
        text-shadow: none;
        box-shadow: none; }
  .gqq-card .card__tabs__body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative; }
  .gqq-card .card__tab {
    flex-grow: 1;
    overflow: hidden;
    display: none; }
    .gqq-card .card__tab.active {
      display: flex;
      flex-direction: column; }
  .gqq-card .card__type {
    position: relative;
    background: #979fb6;
    height: 1.75rem;
    min-width: 8rem;
    margin: -1.75rem auto 0;
    padding: 0 1rem;
    border-radius: 1rem 1rem 0 0;
    text-align: center;
    font-family: 'Open Sans';
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: smaller;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    box-sizing: border-box;
    border-bottom-width: 0;
    flex-shrink: 0;
    flex-grow: 0;
    z-index: 1; }
  .gqq-card .card__footer {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between; }
  .gqq-card .card__id {
    font-family: 'Open Sans';
    color: white;
    text-transform: uppercase;
    font-weight: bold; }
    .gqq-card .card__id span {
      display: flex;
      align-items: center; }
      .gqq-card .card__id span::before {
        content: '';
        background: rgba(255, 255, 255, 0.5);
        width: 6px;
        display: inline-block;
        height: 6px;
        border-radius: 1rem;
        margin-right: 0.4rem; }
    .gqq-card .card__id .id {
      font-size: 12px;
      line-height: 11px; }
    .gqq-card .card__id .name {
      font-size: 8px;
      line-height: 9px; }
  .gqq-card ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #6c20a9;
    border: none; }
  .gqq-card ::-webkit-scrollbar-track {
    box-shadow: 0 0 0 1px #eaebee inset;
    border-radius: 1rem; }

.gqq-card--rarity--common .card__rarity i:nth-child(1) {
  display: inline-block; }

.gqq-card--rarity--uncommon .card__rarity i:nth-child(1), .gqq-card--rarity--uncommon .card__rarity i:nth-child(2) {
  display: inline-block; }

.gqq-card--rarity--rare .card__rarity i:nth-child(1), .gqq-card--rarity--rare .card__rarity i:nth-child(2), .gqq-card--rarity--rare .card__rarity i:nth-child(3) {
  display: inline-block; }

.gqq-card--rarity--epic .card__rarity i:nth-child(1), .gqq-card--rarity--epic .card__rarity i:nth-child(2), .gqq-card--rarity--epic .card__rarity i:nth-child(3), .gqq-card--rarity--epic .card__rarity i:nth-child(4) {
  display: inline-block; }

.gqq-card--rarity--legendary .card__rarity i:nth-child(1), .gqq-card--rarity--legendary .card__rarity i:nth-child(2), .gqq-card--rarity--legendary .card__rarity i:nth-child(3), .gqq-card--rarity--legendary .card__rarity i:nth-child(4), .gqq-card--rarity--legendary .card__rarity i:nth-child(5) {
  display: inline-block; }

.gqq-card--rarity--uncommon .card__body::before {
  background: #b1ea90; }

.gqq-card--rarity--uncommon .card__title {
  background: #57c324; }
  .gqq-card--rarity--uncommon .card__title::before, .gqq-card--rarity--uncommon .card__title::after {
    background: #44981c; }

.gqq-card--rarity--uncommon .card__rarity {
  background: #83d565;
  color: #316d14; }

.gqq-card--rarity--uncommon .card__image {
  background: linear-gradient(to bottom, #83d565, #b1ea90); }

.gqq-card--rarity--uncommon .card__tags {
  background: #b1ea90; }
  .gqq-card--rarity--uncommon .card__tags::before, .gqq-card--rarity--uncommon .card__tags::after {
    background: #93e265; }

.gqq-card--rarity--uncommon .card__tab::before {
  background: linear-gradient(to bottom, #83d565, #63ca3d); }

.gqq-card--rarity--uncommon .card__type {
  background: #63ca3d; }

.gqq-card--rarity--rare .card__body::before {
  background: #9bdfff; }

.gqq-card--rarity--rare .card__title {
  background: #37acff; }
  .gqq-card--rarity--rare .card__title::before, .gqq-card--rarity--rare .card__title::after {
    background: #0497ff; }

.gqq-card--rarity--rare .card__rarity {
  background: #77c1ff;
  color: #007ad0; }

.gqq-card--rarity--rare .card__image {
  background: linear-gradient(to bottom, #77c1ff, #9bdfff); }

.gqq-card--rarity--rare .card__tags {
  background: #9bdfff; }
  .gqq-card--rarity--rare .card__tags::before, .gqq-card--rarity--rare .card__tags::after {
    background: #68cfff; }

.gqq-card--rarity--rare .card__tab::before {
  background: linear-gradient(to bottom, #77c1ff, #44aaff); }

.gqq-card--rarity--rare .card__type {
  background: #44aaff; }

.gqq-card--rarity--epic .card__body::before {
  background: #cbc8ff; }

.gqq-card--rarity--epic .card__title {
  background: #8f81ff; }
  .gqq-card--rarity--epic .card__title::before, .gqq-card--rarity--epic .card__title::after {
    background: #624eff; }

.gqq-card--rarity--epic .card__rarity {
  background: #b9a1ff;
  color: #341bff; }

.gqq-card--rarity--epic .card__image {
  background: linear-gradient(to bottom, #b9a1ff, #cbc8ff); }

.gqq-card--rarity--epic .card__tags {
  background: #cbc8ff; }
  .gqq-card--rarity--epic .card__tags::before, .gqq-card--rarity--epic .card__tags::after {
    background: #9b95ff; }

.gqq-card--rarity--epic .card__tab::before {
  background: linear-gradient(to bottom, #b9a1ff, #936eff); }

.gqq-card--rarity--epic .card__type {
  background: #936eff; }

.gqq-card--rarity--legendary .card__body::before {
  background: #fed39a; }

.gqq-card--rarity--legendary .card__title {
  background: #e39932; }
  .gqq-card--rarity--legendary .card__title::before, .gqq-card--rarity--legendary .card__title::after {
    background: #c77f1b; }

.gqq-card--rarity--legendary .card__rarity {
  background: #e5b76c;
  color: #9a6215; }

.gqq-card--rarity--legendary .card__image {
  background: linear-gradient(to bottom, #e5b76c, #fed39a); }

.gqq-card--rarity--legendary .card__tags {
  background: #fed39a; }
  .gqq-card--rarity--legendary .card__tags::before, .gqq-card--rarity--legendary .card__tags::after {
    background: #febd68; }

.gqq-card--rarity--legendary .card__tab::before {
  background: linear-gradient(to bottom, #e5b76c, #dda241); }

.gqq-card--rarity--legendary .card__type {
  background: #dda241; }

.gqq-dialog {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: #131313;
  position: relative;
  font-family: 'Open Sans'; }
  .gqq-dialog .dialog__title {
    background: #a9a9a9;
    padding: 0.5rem 1.5rem 1.5rem;
    border-radius: 1rem 1rem 0 0;
    font-size: 1.6rem;
    font-family: 'Londrina Solid';
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;
    position: relative; }
    .gqq-dialog .dialog__title + * {
      margin-top: -1rem !important; }
    .gqq-dialog .dialog__title + .dialog__tabs__nav {
      background: #a9a9a9; }
  .gqq-dialog .dialog__body {
    flex-grow: 1;
    padding: 0.25rem;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative; }
    .gqq-dialog .dialog__body::before {
      content: '';
      display: block;
      position: absolute;
      height: calc(100% - 0.5rem);
      width: calc(100% - 0.5rem);
      background: white;
      border-radius: 2rem; }
  .gqq-dialog .dialog__footer {
    margin-top: 0.5rem; }
  .gqq-dialog .dialog__buttons {
    display: flex;
    padding-bottom: 5px; }
    .gqq-dialog .dialog__buttons button {
      background: #666666;
      font-family: inherit;
      font-size: larger;
      color: white;
      font-weight: bold;
      border-radius: 0.75rem;
      border: none;
      padding: 0.5rem 1rem;
      margin: 0;
      box-shadow: 0 5px 0 0 #4d4d4d;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .gqq-dialog .dialog__buttons button:hover {
        cursor: pointer; }
      .gqq-dialog .dialog__buttons button + button {
        margin-left: 0.25rem; }
      .gqq-dialog .dialog__buttons button:focus, .gqq-dialog .dialog__buttons button:hover, .gqq-dialog .dialog__buttons button:active {
        background: #6c20a9;
        color: white;
        border-color: #6c20a9;
        text-shadow: none;
        box-shadow: 0 5px 0 0 #51187e; }
      .gqq-dialog .dialog__buttons button:active {
        box-shadow: 0 2px 0 0 #51187e;
        transform: translateY(3px); }
    .gqq-dialog .dialog__buttons .btn-primary {
      background: gray;
      box-shadow: 0 5px 0 0 #666666; }
  .gqq-dialog .form-group {
    margin: 0;
    padding: 0;
    align-items: flex-start; }
    .gqq-dialog .form-group + .form-group {
      border-top: 1px dotted #c9c9c9;
      margin-top: 0.25rem;
      padding-top: 0.25rem; }
    .gqq-dialog .form-group .form-group__header {
      flex-shrink: 0;
      font-weight: bold;
      margin-right: 1rem; }
    .gqq-dialog .form-group .form-group__body {
      display: flex;
      flex-direction: column; }
    .gqq-dialog .form-group input,
    .gqq-dialog .form-group select {
      background: white;
      border: none;
      height: auto;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      width: 100%;
      font-family: inherit;
      font-size: inherit; }
      .gqq-dialog .form-group input:focus,
      .gqq-dialog .form-group select:focus {
        box-shadow: 0 0 0 3px #6c20a9;
        position: relative;
        z-index: 1; }
    .gqq-dialog .form-group input[type="checkbox"] {
      width: 20px;
      margin-left: 0;
      cursor: pointer; }
    .gqq-dialog .form-group textarea {
      background: white;
      border: none;
      height: auto;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      resize: vertical;
      font-family: inherit;
      font-size: inherit;
      border: 3px solid white; }
      .gqq-dialog .form-group textarea:focus {
        box-shadow: none;
        outline: none;
        border-color: #6c20a9; }
    .gqq-dialog .form-group button {
      background: button;
      font-weight: bold;
      font-family: inherit;
      border: none;
      margin: 0;
      border-radius: 0.5rem;
      background: #c0c5ce; }
      .gqq-dialog .form-group button:focus, .gqq-dialog .form-group button:hover {
        background: #6c20a9;
        color: white;
        border-color: #6c20a9;
        text-shadow: none;
        box-shadow: none; }
  .gqq-dialog .input-group {
    display: flex; }
    .gqq-dialog .input-group button {
      background: #afafaf;
      border: 0;
      margin: 0;
      border-radius: 0; }
      .gqq-dialog .input-group button:hover {
        cursor: pointer; }
    .gqq-dialog .input-group .input-group-prepend input[type="checkbox"] {
      margin-left: 0;
      width: 20px;
      height: 20px;
      padding: 0; }
    .gqq-dialog .input-group .input-group-append {
      display: flex;
      margin-left: 0.25rem; }
      .gqq-dialog .input-group .input-group-append button {
        border: 2px solid #c9c9c9;
        border-radius: 1rem;
        line-height: 21px;
        width: 28px;
        color: #afafaf;
        background: none; }
        .gqq-dialog .input-group .input-group-append button:focus, .gqq-dialog .input-group .input-group-append button:hover {
          background: #6c20a9;
          color: white;
          border-color: #6c20a9;
          text-shadow: none;
          box-shadow: none; }
  .gqq-dialog .dialog__tabs__nav {
    display: flex;
    position: relative;
    margin-top: 0.25rem; }
    .gqq-dialog .dialog__tabs__nav button {
      background: #c9c9c9;
      border: none;
      margin: 0;
      border-radius: 0.75rem 0.75rem 0 0;
      padding: 0.5rem;
      display: inline-block;
      font-weight: bolder;
      font-family: 'Open Sans';
      font-weight: 500; }
      .gqq-dialog .dialog__tabs__nav button:not(:last-child) {
        margin-right: 4px; }
      .gqq-dialog .dialog__tabs__nav button:hover {
        text-shadow: none;
        cursor: pointer; }
      .gqq-dialog .dialog__tabs__nav button:focus, .gqq-dialog .dialog__tabs__nav button:hover, .gqq-dialog .dialog__tabs__nav button.active {
        background: #e2e2e2;
        text-shadow: none;
        box-shadow: none; }
  .gqq-dialog .dialog__tabs__body {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    position: relative; }
    .gqq-dialog .dialog__tabs__body .tab {
      flex-grow: 1;
      overflow: hidden;
      background: #e2e2e2;
      padding: 1rem;
      border-radius: 0 0 0.75rem 0.75rem;
      overflow-y: auto; }
      .gqq-dialog .dialog__tabs__body .tab.active {
        display: flex;
        flex-direction: column; }
  .gqq-dialog .dialog__well {
    background: #e2e2e2;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    flex-grow: 1;
    margin-top: 0.25rem; }
  .gqq-dialog ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #6c20a9;
    border: none; }
  .gqq-dialog ::-webkit-scrollbar-track {
    box-shadow: 0 0 0 1px #eaebee inset;
    border-radius: 1rem; }

.gqq-sheet .field--input {
  position: relative;
  font-size: 1.5em;
  line-height: 2rem;
  display: flex; }
  .gqq-sheet .field--input label {
    color: black;
    font-family: "Londrina Solid";
    padding: 0 0.5rem;
    text-transform: uppercase;
    background: #a7adba;
    color: black;
    font-size: 0.85rem;
    padding: 0 1.5rem 0 1rem;
    letter-spacing: 0.5px;
    border-radius: 1rem 0 0 1rem; }
  .gqq-sheet .field--input input {
    background: none;
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    height: auto;
    text-overflow: ellipsis;
    background: white;
    border-radius: 1rem;
    padding: 0 1rem;
    margin-left: -1rem; }
    .gqq-sheet .field--input input:focus {
      box-shadow: 0 0 0 3px #6c20a9; }

.gqq-sheet .fieldset {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%; }
  .gqq-sheet .fieldset .fieldset__header {
    text-align: center;
    position: relative;
    font-family: "Londrina Solid";
    text-transform: uppercase;
    font-size: 1.25em;
    margin: 0 auto;
    display: block;
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0 0.4em;
    position: relative;
    border-radius: 1rem; }
  .gqq-sheet .fieldset .fieldset__body {
    position: relative;
    flex-grow: 1;
    border: 3px solid #d5d8de;
    padding: 1rem;
    margin-top: 0.25rem;
    border-radius: 1rem;
    overflow: auto; }
    .gqq-sheet .fieldset .fieldset__body .field--textarea {
      width: 100%;
      height: 100%;
      background: none;
      border: none;
      resize: none;
      border-radius: 0.3cm; }

.gqq-sheet {
  font-family: 'Londrina Solid';
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  background: #131313;
  border-radius: 1rem;
  padding: 0.5rem;
  overflow: hidden; }
  .gqq-sheet .sheet__logo {
    color: black;
    font-family: "Londrina Solid";
    text-transform: uppercase;
    font-size: 2.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0.8;
    text-align: center;
    margin-bottom: 2rem; }
    .gqq-sheet .sheet__logo span:first-of-type {
      letter-spacing: 1.5px; }
    .gqq-sheet .sheet__logo span:last-of-type {
      display: block;
      background: black;
      color: white;
      text-align: center;
      font-size: 0.5em;
      padding-top: 0.125rem;
      padding-bottom: 0.125rem;
      font-weight: 300;
      border-radius: 0.25rem; }
  .gqq-sheet .sheet__body {
    flex-grow: 1;
    padding: 0.25rem;
    background: white;
    border-radius: 1rem;
    overflow: hidden; }
  .gqq-sheet .sheet__footer {
    margin-top: 0.5rem; }
  .gqq-sheet .sheet__id {
    font-family: 'Open Sans';
    color: white;
    text-transform: uppercase;
    font-weight: bold; }
    .gqq-sheet .sheet__id span {
      display: flex;
      align-items: center; }
      .gqq-sheet .sheet__id span::before {
        content: '';
        background: rgba(255, 255, 255, 0.5);
        width: 6px;
        display: inline-block;
        height: 6px;
        border-radius: 1rem;
        margin-right: 0.4rem; }
    .gqq-sheet .sheet__id .id {
      font-size: 12px;
      line-height: 11px; }
    .gqq-sheet .sheet__id .name {
      font-size: 8px;
      line-height: 9px; }
  .gqq-sheet ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #6c20a9;
    border: none; }
  .gqq-sheet ::-webkit-scrollbar-track {
    box-shadow: 0 0 0 1px #eaebee inset;
    border-radius: 1rem; }

.gqq-dialog--character-roll .roll__attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem; }
  .gqq-dialog--character-roll .roll__attributes .attribute {
    height: 38px;
    background: #c9c9c9; }
    .gqq-dialog--character-roll .roll__attributes .attribute .attribute__tag {
      font-size: 1.5rem; }
    .gqq-dialog--character-roll .roll__attributes .attribute .attribute__value {
      border-color: #c9c9c9;
      opacity: 1; }
    .gqq-dialog--character-roll .roll__attributes .attribute::before {
      left: -115px;
      background: linear-gradient(90deg, #969696 0%, #c9c9c9 100%); }
    .gqq-dialog--character-roll .roll__attributes .attribute:hover {
      cursor: pointer; }
    .gqq-dialog--character-roll .roll__attributes .attribute.active {
      background: #9f51de; }
      .gqq-dialog--character-roll .roll__attributes .attribute.active::before {
        background: linear-gradient(90deg, #6c20a9 0%, #9f51de 100%); }
      .gqq-dialog--character-roll .roll__attributes .attribute.active .attribute__value {
        border-color: #9f51de; }
      .gqq-dialog--character-roll .roll__attributes .attribute.active .attribute__tag {
        color: white; }
    .gqq-dialog--character-roll .roll__attributes .attribute input[type="radio"] {
      display: none; }
      .gqq-dialog--character-roll .roll__attributes .attribute input[type="radio"]:checked ~ .attribute__value {
        justify-content: center;
        align-items: center;
        font-size: 1.5rem; }
        .gqq-dialog--character-roll .roll__attributes .attribute input[type="radio"]:checked ~ .attribute__value::before {
          content: "\f00c";
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          color: green;
          -webkit-font-smoothing: antialiased;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          line-height: 1; }
    .gqq-dialog--character-roll .roll__attributes .attribute .attribute__icon img {
      max-width: 28px; }
    .gqq-dialog--character-roll .roll__attributes .attribute .attribute__value {
      height: 38px;
      width: 38px;
      display: flex; }
    .gqq-dialog--character-roll .roll__attributes .attribute .attribute__tag {
      color: inherit; }

.gqq-dialog--character-roll .roll__options {
  border: 1px solid rgba(102, 102, 102, 0.25);
  border-radius: 1rem;
  padding: 0.75rem;
  margin-top: 0.5rem;
  align-items: center; }
  .gqq-dialog--character-roll .roll__options label {
    font-weight: bold;
    line-height: 27px; }

.gqq-dialog--character-roll .roll__advantage {
  display: flex; }
  .gqq-dialog--character-roll .roll__advantage label {
    background: #666666;
    text-align: center;
    color: white;
    font-family: 'Londrina Solid';
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: larger;
    padding: 0.125rem 0.5rem;
    display: block;
    margin-right: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    font-weight: 400; }
    .gqq-dialog--character-roll .roll__advantage label:first-of-type {
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem; }
    .gqq-dialog--character-roll .roll__advantage label:last-of-type {
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      margin-right: 0; }
    .gqq-dialog--character-roll .roll__advantage label:hover {
      cursor: pointer; }
  .gqq-dialog--character-roll .roll__advantage input {
    display: none; }
    .gqq-dialog--character-roll .roll__advantage input:checked + label {
      background: #6c20a9; }

.gqq-dialog--character-roll .dialog__buttons .btn-advantage,
.gqq-dialog--character-roll .dialog__buttons .btn-disadvantage {
  font-size: small; }

.gqq-dialog--character-roll .dialog__buttons .btn-roll {
  font-size: large; }

.gqq-dialog--edit-item .form-group .form-group__header {
  flex-grow: 1; }

.gqq-dialog--edit-item .form-group .form-group__body {
  flex-grow: 1.5; }

.gqq-dialog--edit-item .form-group--icon .form-group__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.gqq-dialog--edit-item .form-group--icon .image__icon {
  background: black;
  border-radius: 0.5rem;
  width: 5.48rem;
  max-height: 5.48rem;
  overflow: hidden; }
  .gqq-dialog--edit-item .form-group--icon .image__icon img {
    border: none;
    width: 100%; }

.gqq-dialog--edit-item .tags,
.gqq-dialog--edit-item .modifiers {
  display: flex;
  flex-direction: column; }
  .gqq-dialog--edit-item .tags > * + *,
  .gqq-dialog--edit-item .modifiers > * + * {
    margin-top: 1px; }
  .gqq-dialog--edit-item .tags > :last-child,
  .gqq-dialog--edit-item .modifiers > :last-child {
    margin-bottom: 0.25rem; }

.gqq-dialog--edit-item .modifiers input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.gqq-dialog--edit-item .modifiers select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #e2e2e2; }
  .gqq-dialog--edit-item .modifiers select:focus {
    border-left-color: white; }

.gqq-dialog--edit-item .modifiers input,
.gqq-dialog--edit-item .modifiers select {
  flex-grow: 1; }

.gqq-dialog--edit-item button[data-action="add-tag"],
.gqq-dialog--edit-item button[data-action="add-modifier"] {
  background: none;
  border: 2px solid #c9c9c9;
  color: #afafaf;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer; }

.gqq-dialog--edit-item .form-group--description {
  flex-grow: 1; }
  .gqq-dialog--edit-item .form-group--description .form-group__body {
    height: 100%; }
  .gqq-dialog--edit-item .form-group--description textarea {
    flex-grow: 1;
    resize: none; }

.gqq-sheet--character .character {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 0.25rem; }

.gqq-sheet--character .character__header {
  display: grid;
  grid-template-columns: 10rem 1fr 1fr 10rem;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  background: #b8bbc3;
  padding: 1rem 1rem 2rem;
  border-radius: 1rem 1rem 0 0; }
  .gqq-sheet--character .character__header .field--input label {
    background: black;
    color: white;
    letter-spacing: 0.5px; }

.gqq-sheet--character .character__body {
  background: #e8eaec;
  margin-top: -1rem;
  border-radius: 1rem;
  display: flex;
  overflow: hidden; }

.gqq-sheet--character .character__nav {
  padding: 1rem;
  background: #b8bbc3;
  grid-row: 1 / span 2;
  border-radius: 1rem; }
  .gqq-sheet--character .character__nav .item {
    display: block;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: black;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.25em;
    padding: 0.5rem 1rem; }
    .gqq-sheet--character .character__nav .item + * {
      margin-top: 0.5rem; }
    .gqq-sheet--character .character__nav .item.active {
      background: #000000;
      color: white;
      border-color: #000000; }
    .gqq-sheet--character .character__nav .item:focus, .gqq-sheet--character .character__nav .item:hover {
      background: #6c20a9;
      border-color: #6c20a9;
      color: white;
      text-shadow: none; }

.gqq-sheet--character .tabs__body {
  padding: 1rem;
  display: flex;
  flex-grow: 1; }

.gqq-sheet--character .tab {
  flex-grow: 1; }
  .gqq-sheet--character .tab.active {
    display: grid; }

.gqq-sheet--character .tab--attributes {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem; }

.gqq-sheet--character .tab--inventory {
  grid-template-columns: 2.075fr 1fr;
  grid-column-gap: 1rem; }

.gqq-sheet--character .character__name {
  grid-column: 1 / span 3; }

.gqq-sheet--character .character__ancestry {
  grid-column: 1 / span 2; }

.gqq-sheet--character .character__calling {
  grid-column: 3 / span 2; }

.gqq-sheet--character .character__attributes,
.gqq-sheet--character .character__archetypes {
  grid-row: 1 / span 2; }

.gqq-sheet--character .character__resolve .fieldset__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: black;
  padding-bottom: 0.5rem;
  border-color: #b8bbc3; }
  .gqq-sheet--character .character__resolve .fieldset__body > * {
    flex-grow: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .gqq-sheet--character .character__resolve .fieldset__body input {
    width: 100%;
    border: 0;
    padding: 0;
    border-radius: 1cm;
    text-align: center;
    font-size: 2em;
    margin: 0 0 0.5rem;
    line-height: 1.2;
    height: auto;
    background: white;
    border: 3px solid #b8bbc3; }
    .gqq-sheet--character .character__resolve .fieldset__body input:focus {
      border-color: #6c20a9;
      box-shadow: none; }
  .gqq-sheet--character .character__resolve .fieldset__body .resolve__maximum {
    position: relative; }
    .gqq-sheet--character .character__resolve .fieldset__body .resolve__maximum input {
      position: absolute;
      opacity: 0;
      top: 0; }
      .gqq-sheet--character .character__resolve .fieldset__body .resolve__maximum input:focus {
        opacity: 1; }
  .gqq-sheet--character .character__resolve .fieldset__body .resolve__maximum__value {
    width: 100%;
    border: 0;
    padding: 0;
    border-radius: 1cm;
    text-align: center;
    font-size: 2em;
    margin: 0 0 0.5rem;
    line-height: 1.2;
    height: auto;
    background: white;
    border: 3px solid #b8bbc3;
    font-family: 'Londrina Solid';
    font-weight: 400; }
    .gqq-sheet--character .character__resolve .fieldset__body .resolve__maximum__value.resolve__maximum__value--higher {
      color: green; }
    .gqq-sheet--character .character__resolve .fieldset__body .resolve__maximum__value.resolve__maximum__value--lower {
      color: red; }
  .gqq-sheet--character .character__resolve .fieldset__body span {
    font-size: 0.75em;
    font-weight: bold;
    color: black;
    font-family: "Open Sans"; }

.gqq-sheet--character .character__appearance .fieldset__body {
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #b8bbc3; }

.gqq-sheet--character .character__appearance img {
  border: none;
  border-radius: 0.75rem; }
  .gqq-sheet--character .character__appearance img:focus {
    box-shadow: 0 0 0 3px #6c20a9;
    outline: none; }
  .gqq-sheet--character .character__appearance img:hover {
    cursor: pointer; }

.gqq-sheet--character .character__inventory .fieldset__body {
  padding: 0;
  border: none;
  border-radius: 0; }

.gqq-sheet--character .character__inventory .items {
  display: flex;
  flex-direction: column; }
  .gqq-sheet--character .character__inventory .items .item + * {
    margin-top: 1px; }
  .gqq-sheet--character .character__inventory .items + .inventory__controls {
    border-top: 1px dotted #eaebee;
    margin-top: 0.25rem;
    padding-top: 0.25rem; }

.gqq-sheet--character .character__inventory .item {
  display: flex;
  border-radius: 0;
  background: #cacbd1;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transform: translate3d(0, 0, 0); }
  .gqq-sheet--character .character__inventory .item.item--hidden {
    opacity: 0.25; }
  .gqq-sheet--character .character__inventory .item:first-child {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; }
    .gqq-sheet--character .character__inventory .item:first-child .item__icon img {
      border-top-left-radius: 0.75rem; }
  .gqq-sheet--character .character__inventory .item:last-child {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; }
    .gqq-sheet--character .character__inventory .item:last-child .item__icon img {
      border-bottom-left-radius: 0.75rem; }
  .gqq-sheet--character .character__inventory .item:hover {
    background: #d8d8dd; }
    .gqq-sheet--character .character__inventory .item:hover .item__actions {
      display: flex; }

.gqq-sheet--character .character__inventory .item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0.25rem;
  align-self: flex-start; }
  .gqq-sheet--character .character__inventory .item__icon img {
    max-width: 38px;
    background: black;
    border: none;
    border-radius: 0.25rem; }
    .gqq-sheet--character .character__inventory .item__icon img:hover {
      cursor: pointer; }
  .gqq-sheet--character .character__inventory .item__icon .item__icon__equipped {
    position: absolute;
    bottom: 0.35rem;
    right: 0.35rem;
    font-weight: bold;
    height: 1rem;
    width: 1rem;
    background: white;
    color: black;
    font-family: 'Open Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem; }

.gqq-sheet--character .character__inventory .item__description {
  flex-grow: 1;
  overflow: hidden;
  border-left: 1px dotted #e5e6e9;
  padding: 0.25rem;
  position: relative;
  align-self: stretch; }

.gqq-sheet--character .character__inventory .item__title {
  font-size: 1rem;
  position: relative;
  font-family: 'Open Sans';
  font-weight: 700;
  display: inline-block;
  line-height: 1.2; }
  .gqq-sheet--character .character__inventory .item__title:hover {
    cursor: pointer; }

.gqq-sheet--character .character__inventory .item__details {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 0.65rem;
  display: flex; }

.gqq-sheet--character .character__inventory .item__title,
.gqq-sheet--character .character__inventory .item__details {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

.gqq-sheet--character .character__inventory .item__detail {
  display: flex;
  justify-content: center;
  align-items: center; }
  .gqq-sheet--character .character__inventory .item__detail + * {
    margin-left: 0.5rem; }
  .gqq-sheet--character .character__inventory .item__detail i {
    margin-right: 0.25rem;
    background: #9395a2;
    color: white;
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 9px; }

.gqq-sheet--character .character__inventory .item__detail--modifiers {
  text-transform: uppercase; }

.gqq-sheet--character .character__inventory .item__actions {
  padding: 0.25rem;
  flex-grow: 1;
  flex-shrink: 0;
  display: none;
  align-items: center;
  justify-content: flex-end;
  position: relative; }
  .gqq-sheet--character .character__inventory .item__actions .item__action {
    background: #b8bbc3;
    border-radius: 1rem;
    padding: 0;
    margin: 0;
    border: 0;
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
    .gqq-sheet--character .character__inventory .item__actions .item__action:focus, .gqq-sheet--character .character__inventory .item__actions .item__action:hover {
      background: #6c20a9;
      color: white;
      box-shadow: none; }
    .gqq-sheet--character .character__inventory .item__actions .item__action:hover {
      cursor: pointer; }
    .gqq-sheet--character .character__inventory .item__actions .item__action i {
      margin: 0; }
    .gqq-sheet--character .character__inventory .item__actions .item__action + * {
      margin-left: 0.125rem; }

.gqq-sheet--character .character__inventory .item__action--add {
  background: black;
  color: white;
  border-radius: 1rem;
  padding: 0.25rem 1.5rem;
  text-align: center;
  width: auto;
  flex-grow: 0;
  border: none;
  margin: 0;
  font-family: 'Londrina Solid';
  text-transform: uppercase;
  font-size: 1rem;
  white-space: nowrap;
  line-height: 1.5; }
  .gqq-sheet--character .character__inventory .item__action--add:focus, .gqq-sheet--character .character__inventory .item__action--add:hover {
    outline: none;
    box-shadow: none;
    background: #6c20a9;
    color: white; }
  .gqq-sheet--character .character__inventory .item__action--add:hover {
    cursor: pointer; }

.gqq-sheet--character .character__inventory .item--rarity--uncommon:hover {
  background: #cdd8cd; }

.gqq-sheet--character .character__inventory .item--rarity--uncommon .item__title {
  color: #1c7f15; }

.gqq-sheet--character .character__inventory .item--rarity--rare:hover {
  background: #cdd2d8; }

.gqq-sheet--character .character__inventory .item--rarity--rare .item__title {
  color: #285fbf; }

.gqq-sheet--character .character__inventory .item--rarity--epic:hover {
  background: #d1cdd8; }

.gqq-sheet--character .character__inventory .item--rarity--epic .item__title {
  color: #8332ad; }

.gqq-sheet--character .character__inventory .item--rarity--legendary:hover {
  background: #d8d2cd; }

.gqq-sheet--character .character__inventory .item--rarity--legendary .item__title {
  color: #ad5700; }

.gqq-sheet--character .character__inventory .inventory__controls {
  display: flex;
  border-top: 3px solid #b8bbc3;
  padding: 0.5rem 0 0;
  margin-top: 0.5rem; }

.gqq-sheet--character .character__inventory .inventory__stats {
  background: white;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-family: 'Open Sans';
  font-size: 1.25rem;
  width: 100%;
  font-weight: bold; }
  .gqq-sheet--character .character__inventory .inventory__stats i {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.25rem;
    border-radius: 1rem;
    background: black;
    color: white;
    font-size: 0.6em; }
  .gqq-sheet--character .character__inventory .inventory__stats > * {
    display: flex;
    justify-content: center;
    align-items: center; }
  .gqq-sheet--character .character__inventory .inventory__stats > * + * {
    margin-left: 1rem; }
  .gqq-sheet--character .character__inventory .inventory__stats + * {
    margin-left: -1rem; }

.gqq-sheet--character .character__inventory-misc .fieldset__body {
  padding: 0;
  display: flex;
  border: none;
  border-radius: 0; }

.gqq-sheet--character .character__inventory-misc textarea {
  padding: 1rem;
  background: white;
  resize: none;
  border: 3px solid #b8bbc3;
  font-family: 'Open Sans';
  font-size: inherit;
  border-radius: 1rem; }
  .gqq-sheet--character .character__inventory-misc textarea:focus {
    border-color: #6c20a9;
    box-shadow: none;
    outline: none; }

.gqq-card--item {
  display: flex;
  flex-direction: column; }
  .gqq-card--item .item__body {
    padding: 0;
    border-radius: 1rem;
    overflow: hidden; }
  .gqq-card--item .item__blurb {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 1.2;
    position: relative;
    overflow: hidden;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow-y: auto; }
  .gqq-card--item .item__description {
    padding: 0 1rem;
    margin: 0;
    width: 100%;
    text-align: left; }
  .gqq-card--item .item__description__modifiers {
    font-size: 1.15rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid #b5bbcb;
    padding-bottom: 0.25rem; }
    .gqq-card--item .item__description__modifiers span:not(:last-child)::after {
      content: ","; }
  .gqq-card--item .item__description__text > *:first-child {
    margin-top: 0; }
  .gqq-card--item .item__description__text > *:last-child {
    margin-bottom: 0; }
  .gqq-card--item .item__extras {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 1.75rem; }
  .gqq-card--item .item__extra {
    border-radius: 1rem;
    font-family: 'Open Sans';
    font-size: 18px;
    height: 2.9rem;
    width: 4.75rem;
    position: relative;
    line-height: 1;
    flex-shrink: 0;
    background: white; }
    .gqq-card--item .item__extra::before {
      content: '';
      height: 100%;
      width: 100%;
      border: 3px solid #97a1b7;
      border-radius: 1rem;
      top: 0;
      left: 0;
      position: absolute;
      box-sizing: border-box; }
    .gqq-card--item .item__extra + * {
      margin-top: 0.25rem; }
  .gqq-card--item .extra__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold; }
  .gqq-card--item .extra__value {
    position: relative;
    width: 100%;
    padding: 0 4px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white; }
  .gqq-card--item .extra__title {
    font-size: 16px;
    background: #97a1b7;
    color: white;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -1.2rem;
    border-radius: 1rem; }
  .gqq-card--item .extra__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: white;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    border: 3px solid #6c20a9;
    z-index: 2; }
    .gqq-card--item .extra__input:focus {
      opacity: 1;
      box-shadow: none; }
  .gqq-card--item .item__extra--bulk .extra__title {
    background: #ebafa8; }
  .gqq-card--item .item__extra--bulk::before {
    border-color: #ebafa8; }
  .gqq-card--item .item__extra--value .extra__title {
    background: #cdbb8b; }
  .gqq-card--item .item__extra--value::before {
    border-color: #cdbb8b; }
  .gqq-card--item .item__extra--charges .extra__title {
    background: #93c3dc; }
  .gqq-card--item .item__extra--charges::before {
    border-color: #93c3dc; }
  .gqq-card--item .item__extra--equipped .extra__title {
    background: #8dcba4; }
  .gqq-card--item .item__extra--equipped::before {
    border-color: #8dcba4; }
  .gqq-card--item .item__extra--equipped:hover {
    cursor: pointer; }
  .gqq-card--item .item__back {
    background: white;
    border-radius: 1rem;
    padding: 1rem 1rem 1.75rem;
    overflow-y: auto;
    font-family: 'Open Sans';
    position: relative;
    flex-grow: 1;
    font-size: 13px;
    line-height: 1.2; }
  .gqq-card--item .item__back__text > *:first-child {
    margin-top: 0; }
  .gqq-card--item .item__back__text > *:last-child {
    margin-bottom: 0; }

.window-gqq {
  border-radius: 0 0 1rem 1rem; }
  .window-gqq .window-header {
    border-bottom: none; }
  .window-gqq .window-content {
    background: none;
    padding: 0;
    border-radius: 1rem; }
