<form id="edit-resource" class="gqq-dialog gqq-dialog--edit-item gqq-dialog--edit-resource" onsubmit="event.preventDefault();">
    <div class="dialog__body">
        <div class="dialog__title">{{localize 'dialog.edit_resource.title'}}</div>
        <nav class="dialog__tabs__nav" data-group="primary">
            <button type="button" data-tab="core" class="active">{{localize 'dialog.edit_resource.tab.core'}}</button>
            <button type="button" data-tab="description">{{localize 'dialog.edit_resource.tab.description'}}</button>
            <button type="button" data-tab="extra">{{localize 'dialog.edit_resource.tab.extra'}}</button>
        </nav>
        <div class="dialog__tabs__body">
            <div class="tab tab--core" data-group="primary" data-tab="core">
                <div class="form-group">
                    <label class="form-group__header"><i class="fa fa-fw fa-signature"></i> {{localize 'common.name'}}</label>
                    <div class="form-group__body">
                        <input name="name" type="text" value="{{item.name}}"/>
                    </div>
                </div>
                <div class="form-group form-group--icon">
                    <label class="form-group__header"><i class="fa fa-fw fa-image"></i> {{localize 'common.image'}}</label>
                    <div class="form-group__body">
                        <div class="image__icon">
                            <input name="img" type="hidden" value="{{item.img}}"/>
                            <img src="{{item.img}}" class="editable" data-action="set-icon"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-group__header"><i class="fa fa-fw fa-star"></i> {{localize 'common.rarity'}}</label>
                    <div class="form-group__body">
                        <select name="data.rarity">
                            {{#select item.data.rarity}}
                                <option value="common">{{localize 'common.rarities.common'}}</option>
                                <option value="uncommon">{{localize 'common.rarities.uncommon'}}</option>
                                <option value="rare">{{localize 'common.rarities.rare'}}</option>
                                <option value="epic">{{localize 'common.rarities.epic'}}</option>
                                <option value="legendary">{{localize 'common.rarities.legendary'}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <div class="form-group form-group--tags">
                    <label class="form-group__header"><i class="fa fa-fw fa-tags"></i> {{localize 'common.tags'}}</label>
                    <div class="form-group__body">
                        <div class="tags">
                            {{#each item.data.tags as | tag id |}}
                                <div class="input-group">
                                    <input name="data.tags[]" type="text" value="{{tag}}"/>
                                    <div class="input-group-append">
                                        <button type="button" data-action="move-tag-up"><i class="fa fa-arrow-up"></i></button>
                                        <button type="button" data-action="move-tag-down"><i class="fa fa-arrow-down"></i></button>
                                        <button type="button" data-action="delete-tag"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <button type="button" data-action="add-tag"><i class="fas fa-plus-circle"></i> {{localize 'dialog.edit_item.add_tag'}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-group__header"><i class="fa fa-fw fa-weight-hanging"></i> {{localize 'common.bulk'}}</label>
                    <div class="form-group__body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <input type="checkbox" name="data.canHaveBulk" data-dtype="Boolean" {{checked item.data.canHaveBulk}}/>
                            </div>
                            <input name="data.bulk" type="number" value="{{item.data.bulk}}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-group__header"><i class="fa fa-fw fa-coins"></i> {{localize 'common.value'}}</label>
                    <div class="form-group__body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <input type="checkbox" name="data.canHaveValue" data-dtype="Boolean" {{checked item.data.canHaveValue}}/>
                            </div>
                            <input name="data.value" type="number" value="{{item.data.value}}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-group__header"><i class="fa fa-fw fa-bolt"></i> {{localize 'common.charges'}}</label>
                    <div class="form-group__body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <input type="checkbox" name="data.canHaveCharges" data-dtype="Boolean" {{checked item.data.canHaveCharges}}/>
                            </div>
                            <input name="data.charges" type="number" value="{{item.data.charges}}"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-group__header"><i class="fa fa-fw fa-hand-paper"></i> {{localize 'common.equippable'}}</label>
                    <div class="form-group__body">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <input type="checkbox" name="data.canBeEquipped" data-dtype="Boolean" {{checked item.data.canBeEquipped}}/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab tab--description" data-group="primary" data-tab="description">
                <div class="form-group form-group--modifiers">
                    <label class="form-group__header"><i class="fa fa-fw fa-tags"></i> {{localize 'common.modifiers'}}</label>
                    <div class="form-group__body">
                        <div class="modifiers">
                            {{#each item.data.modifiers as | modifier id |}}
                                <div class="input-group">
                                    <input name="data.modifiers[].value" type="number" value="{{modifier.value}}"/>
                                    <select name="data.modifiers[].type">
                                        {{#select modifier.type}}
                                            <optgroup label="{{localize 'common.attributes'}}">
                                                <option value="str">{{localize 'common.str.code'}}</option>
                                                <option value="dex">{{localize 'common.dex.code'}}</option>
                                                <option value="con">{{localize 'common.con.code'}}</option>
                                                <option value="int">{{localize 'common.int.code'}}</option>
                                                <option value="wis">{{localize 'common.wis.code'}}</option>
                                                <option value="cha">{{localize 'common.cha.code'}}</option>
                                            </optgroup>
                                            <optgroup label="{{localize 'common.archetypes'}}">
                                                <option value="fig">{{localize 'common.fig.code'}}</option>
                                                <option value="rog">{{localize 'common.rog.code'}}</option>
                                                <option value="exp">{{localize 'common.exp.code'}}</option>
                                                <option value="sag">{{localize 'common.sag.code'}}</option>
                                                <option value="art">{{localize 'common.art.code'}}</option>
                                                <option value="dip">{{localize 'common.dip.code'}}</option>
                                            </optgroup>
                                            <optgroup label="{{localize 'common.miscellaneous'}}">
                                                <option value="res">{{localize 'common.res.code'}}</option>
                                            </optgroup>
                                        {{/select}}
                                    </select>
                                    <div class="input-group-append">
                                        <button type="button" data-action="move-modifier-up"><i class="fa fa-arrow-up"></i></button>
                                        <button type="button" data-action="move-modifier-down"><i class="fa fa-arrow-down"></i></button>
                                        <button type="button" data-action="delete-modifier"><i class="fas fa-trash"></i></button>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <button type="button" data-action="add-modifier"><i class="fas fa-plus-circle"></i> {{localize 'dialog.edit_item.add_modifier'}}</button>
                    </div>
                </div>
                <div class="form-group form-group--column form-group--description">
                    <label class="form-group__header"><i class="fa fa-fw fa-sticky-note"></i> {{localize 'dialog.edit_resource.description'}}</label>
                    <div class="form-group__body">
                        <textarea name="data.descriptions.primary.main" rows="5">{{item.data.descriptions.primary.main}}</textarea>
                    </div>
                </div>
                <div class="form-group form-group--column">
                    <label class="form-group__header"><i class="fa fa-fw fa-quote-left"></i> {{localize 'dialog.edit_resource.flavor'}}</label>
                    <div class="form-group__body">
                        <textarea name="data.descriptions.primary.flavor" rows="4">{{item.data.descriptions.primary.flavor}}</textarea>
                    </div>
                </div>
            </div>
            <div class="tab tab--extra" data-group="primary" data-tab="extra">
                <div class="form-group form-group--column form-group--description">
                    <label class="form-group__header"><i class="fa fa-fw fa-sticky-note"></i> {{localize 'dialog.edit_resource.description'}}</label>
                    <div class="form-group__body">
                        <textarea name="data.descriptions.secondary.main" rows="10">{{item.data.descriptions.secondary.main}}</textarea>
                    </div>
                </div>
                <div class="form-group form-group--column">
                    <label class="form-group__header"><i class="fa fa-fw fa-quote-left"></i> {{localize 'dialog.edit_resource.flavor'}}</label>
                    <div class="form-group__body">
                        <textarea name="data.descriptions.secondary.flavor" rows="4">{{item.data.descriptions.secondary.flavor}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog__footer">
        <div class="dialog__buttons dialog-buttons">
            {{#each buttons as |button id|}}
                <button class="dialog__button dialog-button {{button.class}}" data-button="{{id}}">{{{button.icon}}} {{{button.label}}}</button>
            {{/each}}
        </div>
    </div>
</form>
 