$character--header--background: #b8bbc3;
$character--nav--background: $character--header--background;
$character--nav--link--background: #000000;
$character--body--background: #e8eaec;
$character--resolve--frame--color: $character--header--background;
$character--resolve--background: white;
$character--resolve--border--color: $character--header--background;
$character--appearance--frame--color: $character--header--background;
$character--inventory--background: #dadce2;
$character--inventory--border--color: $character--header--background;

.gqq-sheet--character {

    .character {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-column-gap: 0.25rem;
    }

    .character__header {
        display: grid;
        grid-template-columns: 10rem 1fr 1fr 10rem;
        grid-row-gap: 0.5rem;
        grid-column-gap: 0.5rem;
        background: $character--header--background;
        padding: 1rem 1rem 2rem;
        border-radius: 1rem 1rem 0 0;

        .field--input label {
            background: black;
            color: white;
            font-size: 1rem;
        }
    }

    .character__body {
        background: $character--body--background;
        margin-top: -1rem;
        border-radius: 1rem;
        display: flex;
        overflow: hidden;
    }

    .character__nav {
        padding: 1rem;
        background: $character--nav--background;
        grid-row: 1 / span 2;
        border-radius: 1rem;

        .item {
            display: block;
            background: none;
            border: 1px solid rgba($character--nav--link--background, 0.25);
            color: black;
            border-radius: 1rem;
            text-align: center;
            font-size: 1.25em;
            padding: 0.5rem 1rem;

            + * {
                margin-top: 0.5rem;
            }

            &.active {
                background: $character--nav--link--background;
                color: white;
                border-color: $character--nav--link--background;
            }

            &:focus,
            &:hover {
                background: $sheet--highlight;
                border-color: $sheet--highlight;
                color: white;
                text-shadow: none;
            }
        }
    }

    .tabs__body {
        padding: 1rem;
        display: flex;
        flex-grow: 1;
    }

    .tab {
        flex-grow: 1;
        
        &.active {
            display: grid;
        }
    }

    .tab--attributes {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    .tab--inventory {
        grid-template-columns: 1fr;
        grid-column-gap: 1rem;
    }

    .character__name {
        grid-column: 1 / span 3;
    }

    .character__ancestry {
        grid-column: 1 / span 2;
    }

    .character__calling {
        grid-column: 3 / span 2;
    }

    .character__attributes,
    .character__archetypes {
        grid-row: 1 / span 2;
    }

    .character__resolve {

        .fieldset__body {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 0.5rem;
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            color: black;
            padding-bottom: 0.5rem;
            border-color: $character--resolve--frame--color;

            > * {
                flex-grow: 0;
                justify-content: center;
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            input {
                width: 100%;
                border: 0;
                padding: 0;
                border-radius: 1cm;
                text-align: center;
                font-size: 2em;
                margin: 0 0 0.5rem;
                line-height: 1.2;
                height: auto;
                background: $character--resolve--background;
                border: 3px solid $character--resolve--border--color;

                &:focus {
                    border-color: $sheet--highlight;
                    box-shadow: none;
                }
            }

            .resolve__maximum {
                position: relative;

                input {
                    position: absolute;
                    opacity: 0;
                    top: 0;
    
                    &:focus {
                        opacity: 1;
                    }
                }
            }

            .resolve__maximum__value {
                width: 100%;
                border: 0;
                padding: 0;
                border-radius: 1cm;
                text-align: center;
                font-size: 2em;
                margin: 0 0 0.5rem;
                line-height: 1.2;
                height: auto;
                background: $character--resolve--background;
                border: 3px solid $character--resolve--border--color;
                font-family: 'Londrina Solid';
                font-weight: 400;

                &.resolve__maximum__value--higher {
                    color: green;
                }
        
                &.resolve__maximum__value--lower {
                    color: red;
                }
            }
    
            span {
                font-size: 12px;
                font-weight: bold;
                color: black;
                font-family: "Source Sans Pro";
            }
        }
    }

    .character__appearance {

        .fieldset__body {
            padding: 0.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-color: $character--appearance--frame--color;
        }

        img {
            border: none;
            border-radius: 0.75rem;

            &:focus {
                box-shadow: 0 0 0 3px $sheet--highlight;
                outline: none;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }

    .character__inventory {

        .fieldset__body {
            padding: 0;
            border: none;
            border-radius: 0;
            margin: 0;
        }

        table {
            font-family: 'Source Sans Pro';
            border: none;
            margin: 0;
            background: none;

            thead {
                background: none;
                border: none;

                tr {
                    text-shadow: none;
                    text-transform: uppercase;
                    font-size: 12px;
                    background: black;
                    color: white;
                    border-radius: 1rem;
                    overflow: hidden;
                }
            }

            tbody {
                font-size: 16px;
            }

            thead tr,
            tbody tr {
                display: flex;
                align-items: center;
            }

            tbody tr {
                background: darken(#e8eaec, 5%);
                margin-top: 1px;

                &:nth-of-type(even) {
                    background: darken(#e8eaec, 8%);
                }

                &:first-child {
                    margin-top: 0.25rem;
                }
            }

            th,
            td {
                padding: 0.25rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:nth-child(1) {
                    width: 5%;
                }

                &:nth-child(2) {
                    width: 42%;
                    text-align: left;
                }

                &:nth-child(3) {
                    width: 10%;
                    text-align: center;
                }

                &:nth-child(4) {
                    width: 10%;
                    text-align: center;
                }

                &:nth-child(5) {
                    width: 10%;
                    text-align: center;
                }

                &:nth-child(6) {
                    width: 10%;
                    text-align: center;
                }

                &:nth-child(7) {
                    width: 13%;
                    text-align: center;
                }
            }
        }

        .item.item--hidden {

            .item__icon,
            .item__title,
            .item__bulk,
            .item__value,
            .item__charges,
            .item__equipped {
                opacity: 0.25;
                font-weight: normal;
            }

            .item__equipped button {
                display: none;
            }

            .item__action--toggle-hidden {
                color: black;
            }
        }

        .item__icon img {
            border: none;
            background: black;
            width: 100%;
            display: block;
            border-radius: 4px;
        }

        .item__title input {
            border: none;
            background: none;
            font-weight: 600;

            &:focus {
                box-shadow: 0 0 0 3px $sheet--highlight;
            }
        }

        .item__equipped {

            button {
                color: black;
                background: #c3c6d0;
                border-radius: 1rem;
                padding: 0;
                margin: 0;
                border: 0;
                flex-shrink: 0;
                height: 1.5rem;
                width: 1.5rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                i {
                    margin: 0;
                }

                &:not(.equipped) {
                    color: $character--inventory--background;
                }

                &:hover {
                    cursor: pointer;
                    box-shadow: none;
                }
            }
        }

        .item__bulk,
        .item__value,
        .item__charges {

            input {
                background: none;
                border: none;
                height: auto;

                &:focus {
                    box-shadow: 0 0 0 3px $sheet--highlight;
                }
            }
        }

        .item__actions {
            
            .item__action {
                color: $character--inventory--background;
                background: darken($character--inventory--background, 8%);
                border-radius: 1rem;
                padding: 0;
                margin: 0;
                border: 0;
                flex-shrink: 0;
                height: 1.5rem;
                width: 1.5rem;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                &:focus,
                &:hover {
                    background: $sheet--highlight;
                    color: white;
                    box-shadow: none;
                }

                &:hover {
                    cursor: pointer;
                }

                i {
                    margin: 0;
                }
            }
        }

        .item--rarity--uncommon {

            .item__title input {
                color: #299821;
            }
        }

        .item--rarity--rare {

            .item__title input {
                color: #285fbf;
            }
        }

        .item--rarity--epic {

            .item__title input {
                color: #8332ad;
            }
        }

        .item--rarity--legendary {

            .item__title input {
                color: #ad5700;
            }
        }
    }

    .inventory__controls {
        display: flex;
        border-top: 3px solid $character--inventory--border--color;
        padding: 0.5rem 0 0;
        margin-top: 0.5rem;
    }

    .inventory__stats {
        background: white;
        border-radius: 1rem 0 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        font-family: 'Source Sans Pro';
        font-size: 1.25rem;
        width: 100%;
        font-weight: bold;

        i {
            width: 1.25rem;
            height: 1.25rem;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 0.25rem;
            border-radius: 1rem;
            background: black;
            color: white;
            font-size: 0.6em;
        }

        > * {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        > * + * {
            margin-left: 1rem;
        }

        + .item__action--add {
            margin-left: -1rem;
        }
    }

    .item__action--add {
        background: black;
        color: white;
        border-radius: 1rem;
        padding: 0.25rem 1.5rem;
        text-align: center;
        width: auto;
        flex-grow: 0;
        border: none;
        margin: 0;
        font-family: 'Londrina Solid';
        text-transform: uppercase;
        font-size: 1rem;
        white-space: nowrap;
        line-height: 1.5;

        &:focus,
        &:hover {
            outline: none;
            box-shadow: none;
            background: $sheet--highlight;
            color: white;
        }

        &:hover {
            cursor: pointer;
        }
    }

    // .character__inventory {

    //     .fieldset__body {
    //         padding: 0;
    //         border: none;
    //         border-radius: 0;
    //     }

    //     .items {
    //         display: flex;
    //         flex-direction: column;

    //         .item + * {
    //             margin-top: 1px;
    //         }

    //         + .inventory__controls {
    //             border-top: 1px dotted #eaebee;
    //             margin-top: 0.25rem;
    //             padding-top: 0.25rem;
    //         }
    //     }

    //     .item {
    //         display: flex;
    //         border-radius: 0;
    //         background: $character--inventory--background;
    //         position: relative;
    //         overflow: hidden;
    //         align-items: center;
    //         justify-content: center;
    //         transform: translate3d(0, 0, 0);

    //         &.item--hidden::after {
    //             content: '';
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             width: 100%;
    //             height: 100%;
    //             background: rgba($character--body--background, 0.75);
    //             z-index: 1;
    //         }

    //         &:first-child {
    //             border-top-left-radius: 1rem;
    //             border-top-right-radius: 1rem;

    //             .item__icon img {
    //                 border-top-left-radius: 0.75rem;
    //             }
    //         }

    //         &:last-child {
    //             border-bottom-left-radius: 1rem;
    //             border-bottom-right-radius: 1rem;

    //             .item__icon img {
    //                 border-bottom-left-radius: 0.75rem;
    //             }
    //         }

    //         &:hover {
    //             background: lighten($character--inventory--background, 5%);

    //             .item__action {
    //                 color: white;
    //             }

    //             .item__detail {
    //                 color: white;
    //             } 
    //         }
    //     }

    //     .item__icon {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         position: relative;
    //         padding: 0.25rem;
    //         align-self: flex-start;

    //         img {
    //             max-width: 36px;
    //             background: black;
    //             border: none;
    //             border-radius: 0.25rem;

    //             &:hover {
    //                 cursor: pointer;
    //             }
    //         }

    //         .item__icon__equipped {
    //             position: absolute;
    //             bottom: 4px;
    //             right: 4px;
    //             font-weight: bold;
    //             height: 15px;
    //             width: 15px;
    //             background: white;
    //             color: black;
    //             border: 1px solid black;
    //             font-family: 'Source Sans Pro';
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //             border-radius: 0.2rem;
    //             font-size: 12px;
    //         }
    //     }

    //     .item__description {
    //         flex-grow: 1;
    //         overflow: hidden;
    //         padding: 0.25rem;
    //         padding-left: 0;
    //         position: relative;
    //         align-self: stretch;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;
    //     }

    //     .item__title {
    //         font-size: 1rem;
    //         position: relative;
    //         font-family: 'Source Sans Pro';
    //         font-weight: 700;
    //         display: inline-block;
    //         line-height: 1.2;

    //         &:hover {
    //             cursor: pointer;
    //         }
    //     }

    //     .item__details {
    //         font-family: 'Source Sans Pro';
    //         font-weight: 600;
    //         font-size: 12px;
    //         display: flex;
    //         margin-top: 2px;
    //         margin-bottom: -1px;
    //     }

    //     .item__title,
    //     .item__details {
    //         white-space: nowrap;
    //         text-overflow: ellipsis;
    //         overflow: hidden;
    //     }

    //     .item__detail {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         color: white;
    //         background: darken($character--inventory--background, 15%);
    //         padding: 0 0.5rem 0 0.25rem;
    //         border-radius: 0.25rem;
    //         line-height: 14px;
    //         margin-bottom: 1px;
    //         flex-wrap: wrap;
    //         border-bottom: 1px solid rgba(black, 0.15);

    //         + * {
    //             margin-left: 1px;
    //         }

    //         i {
    //             margin-right: 0.25rem;
    //             font-size: 8px;
    //         }
    //     }

    //     .item__detail--modifiers {
    //         text-transform: uppercase;
    //     }

        // .item__actions {
        //     padding: 0.25rem;
        //     flex-grow: 1;
        //     flex-shrink: 0;
        //     display: flex;
        //     align-items: center;
        //     justify-content: flex-end;
        //     position: relative;
        //     z-index: 2;
            
        //     .item__action {
        //         color: $character--inventory--background;
        //         background: darken($character--inventory--background, 8%);
        //         border-radius: 1rem;
        //         padding: 0;
        //         margin: 0;
        //         border: 0;
        //         flex-shrink: 0;
        //         height: 1.5rem;
        //         width: 1.5rem;
        //         display: inline-flex;
        //         justify-content: center;
        //         align-items: center;

        //         &:focus,
        //         &:hover {
        //             background: $sheet--highlight;
        //             color: white;
        //             box-shadow: none;
        //         }

        //         &:hover {
        //             cursor: pointer;
        //         }

        //         i {
        //             margin: 0;
        //         }

        //         + * {
        //             margin-left: 0.125rem;
        //         }
        //     }
        // }

    //     .item__action--add {
    //         background: black;
    //         color: white;
    //         border-radius: 1rem;
    //         padding: 0.25rem 1.5rem;
    //         text-align: center;
    //         width: auto;
    //         flex-grow: 0;
    //         border: none;
    //         margin: 0;
    //         font-family: 'Londrina Solid';
    //         text-transform: uppercase;
    //         font-size: 1rem;
    //         white-space: nowrap;
    //         line-height: 1.5;

    //         &:focus,
    //         &:hover {
    //             outline: none;
    //             box-shadow: none;
    //             background: $sheet--highlight;
    //             color: white;
    //         }

    //         &:hover {
    //             cursor: pointer;
    //         }
    //     }

        // .item--rarity--uncommon {

        //     .item__title {
        //         color: #299821;
        //     }
        // }

        // .item--rarity--rare {

        //     .item__title {
        //         color: #285fbf;
        //     }
        // }

        // .item--rarity--epic {

        //     .item__title {
        //         color: #8332ad;
        //     }
        // }

        // .item--rarity--legendary {

        //     .item__title {
        //         color: #ad5700;
        //     }
        // }

    //     .inventory__controls {
    //         display: flex;
    //         border-top: 3px solid $character--inventory--border--color;
    //         padding: 0.5rem 0 0;
    //         margin-top: 0.5rem;
    //     }

    //     .inventory__stats {
    //         background: white;
    //         border-radius: 1rem 0 0 1rem;
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         flex-grow: 1;
    //         font-family: 'Source Sans Pro';
    //         font-size: 1.25rem;
    //         width: 100%;
    //         font-weight: bold;

    //         i {
    //             width: 1.25rem;
    //             height: 1.25rem;
    //             display: inline-flex;
    //             justify-content: center;
    //             align-items: center;
    //             margin-right: 0.25rem;
    //             border-radius: 1rem;
    //             background: black;
    //             color: white;
    //             font-size: 0.6em;
    //         }

    //         > * {
    //             display: flex;
    //             justify-content: center;
    //             align-items: center;
    //         }

    //         > * + * {
    //             margin-left: 1rem;
    //         }

    //         + * {
    //             margin-left: -1rem;
    //         }
    //     }
    // }
    
    // .character__inventory-misc {

    //     .fieldset__body {
    //         padding: 0;
    //         display: flex;
    //         border: none;
    //         border-radius: 0;
    //     }

    //     textarea {
    //         padding: 1rem;
    //         background: white;
    //         resize: none;
    //         border: 3px solid $character--inventory--border--color;
    //         font-family: 'Source Sans Pro';
    //         font-size: inherit;
    //         border-radius: 1rem;

    //         &:focus {
    //             border-color: $sheet--highlight;
    //             box-shadow: none;
    //             outline: none;
    //         }
    //     }
    // }
}