<div class="gqq-sheet gqq-sheet--character {{cssClass}}">
    <form class="sheet__body character" autocomplete="off">
        <nav class="tabs__nav character__nav" data-group="primary">
            <div class="sheet__logo">
                <span>Quick</span>
                <span>Quest</span>
                <span>{{localize 'sheet.character.title'}}</span>
            </div>
            <div class="navigation">
                <a class="item active" data-tab="aspects">{{localize 'sheet.character.nav.aspects'}}</a>
                <a class="item" data-tab="perks">{{localize 'sheet.character.nav.perks'}}</a>
                <a class="item" data-tab="resources">{{localize 'sheet.character.nav.resources'}}</a>
            </div>
            <button type="button" class="character-action--roll"><i class="fas fa-dice-d20"></i><span>Roll</span></button>
        </nav>
        <header class="character__header">
            <div class="character__name">
                <div class="field field--input">
                    <label for="name">{{localize 'common.name'}}</label>
                    <input name="name" type="text" value="{{actor.name}}" title="{{actor.name}}"/>
                </div>
            </div>
            <div class="character__perks">
                <div class="field field--input">
                    <label for="perks">{{localize 'common.perks'}}</label>
                    <input type="number" value="{{data.perks.totalVisible}}" disabled/>
                </div>
            </div>
            <div class="character__ancestry">
                <div class="field field--input">
                    <label for="data.ancestry">{{localize 'common.ancestry'}}</label>
                    <input name="data.ancestry" type="text" value="{{data.ancestry}}" title="{{data.ancestry}}"/>
                </div>
            </div>
            <div class="character__calling">
                <div class="field field--input">
                    <label for="data.calling">{{localize 'common.calling'}}</label>
                    <input name="data.calling" type="text" value="{{data.calling}}" title="{{data.calling}}"/>
                </div>
            </div>
        </header>
        <div class="tabs__body character__body">
            <div class="tab tab--aspects" data-group="primary" data-tab="aspects">
                <div class="attributes character__attributes">
                    <header class="attributes__header">{{localize 'common.attributes'}}</header>
                    <section class="attributes__body">
                        {{> "systems/quickquest/templates/partials/character-attribute.html"
                            code="str"
                            icon="muscle-up"
                            base=data.attributes.str.base
                            sources=data.attributes.str.sources
                            class=data.attributes.str.class
                            total=data.attributes.str.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-attribute.html"
                            code="dex"
                            icon="bullseye"
                            base=data.attributes.dex.base
                            sources=data.attributes.dex.sources
                            class=data.attributes.dex.class
                            total=data.attributes.dex.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-attribute.html"
                            code="con"
                            icon="heart-beats"
                            base=data.attributes.con.base
                            sources=data.attributes.con.sources
                            class=data.attributes.con.class
                            total=data.attributes.con.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-attribute.html"
                            code="int"
                            icon="brain"
                            base=data.attributes.int.base
                            sources=data.attributes.int.sources
                            class=data.attributes.int.class
                            total=data.attributes.int.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-attribute.html"
                            code="wis"
                            icon="light-bulb"
                            base=data.attributes.wis.base
                            sources=data.attributes.wis.sources
                            class=data.attributes.wis.class
                            total=data.attributes.wis.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-attribute.html"
                            code="cha"
                            icon="drama-masks"
                            base=data.attributes.cha.base
                            sources=data.attributes.cha.sources
                            class=data.attributes.cha.class
                            total=data.attributes.cha.total
                        }}
                    </section>
                </div>
                <div class="attributes character__archetypes">
                    <header class="attributes__header">{{localize 'common.archetypes'}}</header>
                    <section class="attributes__body">
                        {{> "systems/quickquest/templates/partials/character-archetype.html"
                            code="fig"
                            icon="sharp-axe"
                            base=data.archetypes.fig.base
                            sources=data.archetypes.fig.sources
                            class=data.archetypes.fig.class
                            total=data.archetypes.fig.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-archetype.html"
                            code="rog"
                            icon="lockpicks"
                            base=data.archetypes.rog.base
                            sources=data.archetypes.rog.sources
                            class=data.archetypes.rog.class
                            total=data.archetypes.rog.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-archetype.html"
                            code="exp"
                            icon="treasure-map"
                            base=data.archetypes.exp.base
                            sources=data.archetypes.exp.sources
                            class=data.archetypes.exp.class
                            total=data.archetypes.exp.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-archetype.html"
                            code="sag"
                            icon="book-cover"
                            base=data.archetypes.sag.base
                            sources=data.archetypes.sag.sources
                            class=data.archetypes.sag.class
                            total=data.archetypes.sag.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-archetype.html"
                            code="art"
                            icon="paint-brush"
                            base=data.archetypes.art.base
                            sources=data.archetypes.art.sources
                            class=data.archetypes.art.class
                            total=data.archetypes.art.total
                        }}
                        {{> "systems/quickquest/templates/partials/character-archetype.html"
                            code="dip"
                            icon="conversation"
                            base=data.archetypes.dip.base
                            sources=data.archetypes.dip.sources
                            class=data.archetypes.dip.class
                            total=data.archetypes.dip.total
                        }}
                    </section>
                </div>
                <div class="fieldset character__resolve">
                    <header class="fieldset__header">{{localize 'common.res.name'}}</header>
                    <section class="fieldset__body">
                        <div class="resolve__used">
                            <input name="data.resolve.current" type="number" value="{{data.resolve.current}}" min="0" max="{{data.resolve.maximum.total}}">
                            <span>{{localize 'common.current'}}</span>
                        </div>
                        <div class="resolve__maximum">
                            <input name="data.resolve.maximum.base" type="number" value="{{data.resolve.maximum.base}}" title="{{#each data.resolve.maximum.sources as | source id |}}{{localize 'sheet.character.source' value=source.value source=source.source}}{{#unless @last}},&#010;{{/unless}}{{/each}}">
                            <span class="resolve__maximum__value resolve__maximum__value--{{data.resolve.maximum.class}}">{{data.resolve.maximum.total}}</span>
                            <span>{{localize 'common.maximum'}}</span>
                        </div>
                    </section>
                </div>
                <div class="fieldset character__appearance">
                    <header class="fieldset__header">
                        <label><span>{{localize 'sheet.character.appearance.title'}}</span></label>
                    </header>
                    <section class="fieldset__body">
                        <img src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
                    </section>
                </div>
            </div>
            <div class="tab tab--perks" data-group="primary" data-tab="perks">
                <div class="fieldset fieldset--items character__perks">
                    <section class="fieldset__body">
                        <table>
                            <thead>
                                <th></th>
                                <th>{{localize 'common.perk'}}</th>
                                <th>{{localize 'common.modifiers'}}</th>
                                <th>{{localize 'common.actions'}}</th>
                            </thead>
                            <tbody class="items perks item-list">
                                {{#if data.perks.items.length}}
                                    {{#each data.perks.items as | item id |}}
                                        <tr class="item item--rarity--{{item.data.rarity}} {{#if item.data.isHidden}}item--hidden{{/if}} perk" data-item-id="{{item._id}}">
                                            <td class="item__icon">
                                                <img src="{{item.img}}"/>
                                            </td>
                                            <td class="item__title">
                                                <input data-field="name" type="text" value="{{item.name}}" title="{{item.name}}"/>
                                            </td>
                                            <td class="perk__modifiers" title="{{#each item.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.type}}{{#unless @last}}, {{/unless}}{{/each}}">
                                                {{#each item.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.type}}{{#unless @last}}, {{/unless}}{{/each}}
                                            </td>
                                            <td class="item__actions">
                                                <button type="button" class="item__action item__action--toggle-hidden" title="{{localize 'sheet.character.items.actions.toggle.hidden'}}">
                                                    <i class="fas fa-eye-slash"></i>
                                                </button>
                                                <button type="button" class="item__action item__action--open" title="{{localize 'sheet.character.items.actions.inspect'}}">
                                                    <i class="fas fa-book-open"></i>
                                                </button>
                                                <button type="button" class="item__action item__action--delete" title="{{localize 'sheet.character.items.actions.delete'}}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{else}}
                                    <tr class="empty">
                                        <td colspan="7">{{localize 'sheet.character.perks.empty'}}</td>
                                    </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </section>
                    <footer class="fieldset__footer fieldset--items__controls">
                        <div class="fieldset--items__details">
                            <div class="perks__count" title="{{localize 'common.counter.perks' count=data.perks.totalVisible}} {{#if data.perks.totalHidden}}({{localize 'common.counter.hidden' count=data.perks.totalHidden}}){{/if}}">
                                <i class="fa fa-list"></i>{{data.perks.totalVisible}}
                            </div>
                        </div>
                        <button type="button" class="item__action item__action--add" title="{{localize 'sheet.character.perks.actions.add'}}">
                            <i class="fas fa-plus-circle"></i> {{localize 'sheet.character.perks.actions.add'}}
                        </button>
                    </footer>
                </div>
            </div>
            <div class="tab tab--resources" data-group="primary" data-tab="resources">
                <div class="fieldset fieldset--items character__resources">
                    <section class="fieldset__body">
                        <table>
                            <thead>
                                <th></th>
                                <th>{{localize 'common.resource'}}</th>
                                <th>{{localize 'common.bulk'}}</th>
                                <th>{{localize 'common.value'}}</th>
                                <th>{{localize 'common.charges'}}</th>
                                <th>{{localize 'common.equip'}}</th>
                                <th>{{localize 'common.modifiers'}}</th>
                                <th>{{localize 'common.actions'}}</th>
                            </thead>
                            <tbody class="items resources item-list">
                                {{#if data.resources.items.length}}
                                    {{#each data.resources.items as | item id |}}
                                        <tr class="item item--rarity--{{item.data.rarity}} {{#if item.data.isHidden}}item--hidden{{/if}} resource" data-item-id="{{item._id}}">
                                            <td class="item__icon">
                                                <img src="{{item.img}}"/>
                                            </td>
                                            <td class="item__title">
                                                <input data-field="name" type="text" value="{{item.name}}" title="{{item.name}}"/>
                                            </td>
                                            <td class="resource__bulk">
                                                {{#if item.data.canHaveBulk}}
                                                    <input data-field="data.bulk" type="number" value="{{item.data.bulk}}"/>
                                                {{/if}}
                                            </td>
                                            <td class="resource__value">
                                                {{#if item.data.canHaveValue}}
                                                    <input data-field="data.value" type="number" value="{{item.data.value}}"/>
                                                {{/if}}
                                            </td>
                                            <td class="resource__charges">
                                                {{#if item.data.canHaveCharges}}
                                                    <input data-field="data.charges" type="number" value="{{item.data.charges}}"/>
                                                {{/if}}
                                            </td>
                                            <td class="resource__equipped">
                                                {{#if item.data.canBeEquipped}}
                                                    <button type="button" class="item__action resource__action--toggle-equipped {{#if item.data.isEquipped}}equipped{{/if}}" title="{{localize 'sheet.character.resources.actions.toggle.equipped'}}">
                                                        <i class="fas fa-shield-alt"></i>
                                                    </button>
                                                {{/if}}
                                            </td>
                                            <td class="resource__modifiers" title="{{#each item.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.type}}{{#unless @last}}, {{/unless}}{{/each}}">
                                                {{#each item.data.modifiers as | modifier id |}}{{numberFormat modifier.value decimals=0 sign=true}} {{modifier.type}}{{#unless @last}}, {{/unless}}{{/each}}
                                            </td>
                                            <td class="item__actions">
                                                <button type="button" class="item__action item__action--toggle-hidden" title="{{localize 'sheet.character.items.actions.toggle.hidden'}}">
                                                    <i class="fas fa-eye-slash"></i>
                                                </button>
                                                <button type="button" class="item__action item__action--open" title="{{localize 'sheet.character.items.actions.inspect'}}">
                                                    <i class="fas fa-book-open"></i>
                                                </button>
                                                <button type="button" class="item__action item__action--delete" title="{{localize 'sheet.character.items.actions.delete'}}">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                {{else}}
                                    <tr class="empty">
                                        <td colspan="7">{{localize 'sheet.character.resources.empty'}}</td>
                                    </tr>
                                {{/if}}
                            </tbody>
                        </table>
                    </section>
                    <footer class="fieldset__footer fieldset--items__controls">
                        <div class="fieldset--items__details">
                            <div class="resources__count" title="{{localize 'common.counter.resources' count=data.resources.totalVisible}} {{#if data.resources.totalHidden}}({{localize 'common.counter.hidden' count=data.resources.totalHidden}}){{/if}}">
                                <i class="fa fa-list"></i>{{data.resources.totalVisible}}
                            </div>
                            <div class="resources__equipped" title="{{localize 'common.counter.equipped' count=data.resources.totalEquipped}}">
                                <i class="fa fa-hand-paper"></i>{{data.resources.totalEquipped}}
                            </div>
                            <div class="resources__bulk" title="{{localize 'common.counter.bulk' count=data.resources.totalBulk}}">
                                <i class="fa fa-weight-hanging"></i>{{data.resources.totalBulk}}
                            </div>
                            <div class="resources__value" title="{{localize 'common.counter.value' count=data.resources.totalValue}}">
                                <i class="fa fa-coins"></i>{{data.resources.totalValue}}
                            </div>
                        </div>
                        <button type="button" class="item__action item__action--add" title="{{localize 'sheet.character.resources.actions.add'}}">
                            <i class="fas fa-plus-circle"></i> {{localize 'sheet.character.resources.actions.add'}}
                        </button>
                    </footer>
                </div>
            </div>
        </div>
    </form>
    <div class="sheet__footer">
        <div class="sheet__id">
            <span class="id">{{actor._id}}</span>
            <span class="name">Quick Quest</span>
        </div>
    </div>
</div>
