<div class="gqq-card gqq-card--rarity--{{data.rarity}} gqq-card--perk {{cssClass}}">
    <form class="card__body" autocomplete="off">
        <div class="card__title" title="{{item.name}}">{{item.name}}</div>
        <div class="card__rarity" title="{{localize (concat 'common.rarities.' data.rarity)}}">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="card__tabs__body perk__body">
            <div class="card__tab perk__tab--front" data-group="primary" data-tab="front">
                <div class="card__image">
                    <img src="{{item.img}}" class="editable" data-edit="img"/>
                </div>
                {{#if data.tags}}
                    <div class="card__tags" title="{{#each data.tags as | tag id |}}{{tag}}{{#unless @last}}, {{/unless}}{{/each}}">
                        {{#each data.tags as | tag id |}}
                            <span class="card__tag">{{tag}}</span>
                        {{/each}}
                    </div>
                {{/if}}
                <div class="card__details">
                    {{#if data.modifiers.length}}
                        <div class="perk__modifiers">
                            {{#each data.modifiers as | modifier id |}}
                                <span class="perk__modifier">
                                    {{numberFormat modifier.value decimals=0 sign=true}} {{modifier.type}}
                                </span>
                            {{/each}}
                        </div>
                    {{/if}}
                    <div class="perk__blurb">
                        <div class="perk__blurb__text">{{{data.descriptions.primary.main}}}</div>
                        {{#if data.descriptions.primary.flavor}}
                            <div class="perk__blurb__flavor">{{{data.descriptions.primary.flavor}}}</div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{#if data.descriptions.secondary.main}}
                <div class="card__tab perk__tab--back" data-group="primary" data-tab="back">
                    <div class="perk__back">
                        <div class="perk__blurb">
                            <div class="perk__blurb__text">
                                {{{data.descriptions.secondary.main}}}
                            </div>
                            {{#if data.descriptions.secondary.flavor}}
                                <div class="perk__blurb__flavor">{{{data.descriptions.secondary.flavor}}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
        <div class="card__type"><span title="{{localize 'common.perk'}}">{{localize 'common.perk'}}</span></div>
    </form>
    <div class="card__footer">
        <div class="card__id">
            <span class="id">{{item._id}}</span>
            <span class="name">Quick Quest</span>
        </div>
        <nav class="card__tabs__nav" data-group="primary">
            <button type="button" class="active" data-tab="front">{{localize 'sheet.item.nav.front'}}</button>
            {{#if data.descriptions.secondary.main}}
                <button type="button" data-tab="back">{{localize 'sheet.item.nav.back'}}</button>
            {{/if}}
            <button type="button" data-action="edit"><i class="fas fa-edit"></i></button>
        </nav>
    </div>
</div>
